<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzC2etmW5UBZdkCyOb7ecHt97-jiIY0N8</string>
	<key>GCM_SENDER_ID</key>
	<string>703342216783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ridy.taxi.rider</string>
	<key>PROJECT_ID</key>
	<string>studiobase-2b47d</string>
	<key>STORAGE_BUCKET</key>
	<string>studiobase-2b47d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703342216783:ios:2c23ddc9b107c3c9250c3a</string>
</dict>
</plist>